# systemd serveice to start & manage FreeTAKServer
# Author: Alan Barrow <traveler@pinztrek.com>
# Copyright: Copyright 2020 Alan Barrow
# License: GPL, Version 3+

[Unit]
 Description=aprstak Service
 After=multi-user.target

 [Service]

# select which log approach for stdout by commenting/uncommenting these lines

# Normal syslog in /var/log or similar
StandardOutput=syslog

# log to a standalone file in /tmp
#StandardOutput=file:/tmp/aprstak.run

# Don't capture logs at all
#StandardOutput=file:/dev/null

# Always want stderror
StandardError=syslog
SyslogIdentifier=aprstak

 Type=idle
 ExecStart=/usr/bin/python3 /home/jab/aprstak/aprstak.py -l --max=1000  --userdir="/home/jab/aprstak"

 Restart=always
 RestartSec=57

# Safe to assume we want to run it on this server IP
ExecStartPre=/bin/sh -c "systemctl set-environment HOST_IP=$(hostname -I | head -1)"

# Edit for your IP and ports as needed
 Environment=COTPORT=8087
 Environment=DATAPORT=8080

 [Install]
 WantedBy=multi-user.target


